<div>
    <form action="/users" method="post">
        <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        </div>
        <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        </div>
        <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
        </div>
        <input type="submit" id="submit" value="Signup">
    </form>
</div>