<div class="container-fluid">
    <h3>Items Index</h3>
    <table class="table">
      <tbody>
        <% @items.each do |item|%>
            <tr>
              <td class="text-left">
                <a href="/items/<%=item.id%>"><%=item.name%></a>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <% if logged_in? %>
      <a href="/items/new"><input class="btn btn-success" type="button" value="Create New Item"></a>
    <%end%>
    
</div>