

<form action="/wishlists/<%= @wishlist.id%>" method="post">
<input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="wishlist-name">Wishlist Name</label>
    <input type="name" class="form-control" id="wishlist-name" name="name" value="<%=@wishlist.name%>">
  </div>
  <div class="form-group">
    <input type="hidden" name="private" value="0">
    <h1>[Maybe a checklist of items to add to this wishlist?]</h1>
    <label for="private">
        <input id="private" type="checkbox" name="private" value="1"> Private Wishlist
    </label>
  </div>
  <button type="submit" id="submit" class="btn btn-primary">Update</button>
</form>