<div class="container-fluid">
    <h3>Public Wishlists</h3>
    <table class="table">
        <tbody>
        <% @public_wishlists.each do |wishlist|%>
            <tr>
                <td class="text-left">
                    <a href="/wishlists/<%=wishlist.id%>"><%=wishlist.name%></a>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>